{% extends "base.html" %}

 {% block content %}
   {% if page.edit_url %}
     <a href="{{ page.edit_url }}" title="{{ lang.t('edit.link.title') }}" class="md-content__button md-icon">
       {% include ".icons/material/pencil.svg" %}
     </a>
   {% endif %}
   {% block source %}
     {% if page and page.meta and page.meta.source %}
       {% include "partials/source-link.html" %}
     {% endif %}
   {% endblock %}
   {% if not "\x3ch1" in page.content %}
     <h1>{{ page.title | default(config.site_name, true)}}</h1>
   {% endif %}
   {% if page.meta.date %}
	 <span class="twemoji">
	 {% include ".icons/calendar.svg" %}<i>Posted on {{ page.meta.date.strftime('%B %d, %Y')}}</i>
	 </span>
   {% endif %}
   {{ page.content }}
   {% if page and page.meta %}
     {% if page.meta.git_revision_date_localized or
           page.meta.revision_date
     %}
       {% include "partials/source-date.html" %}
     {% endif %}
   {% endif %}
 {% endblock %}
 {% block disqus %}
   {% include "partials/integrations/disqus.html" %}
 {% endblock %}