@page {
    size: a4 portrait;
    margin: 25mm 25mm 25mm 25mm;
    counter-increment: page;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    white-space: pre;
    color: grey;
    @top-left {
        content: '© 2020 Allpix';
    }
    @top-center {
        content: string(chapter);
    }
}