@page {
  size: a4 portrait;
  margin: 25mm 25mm 25mm 25mm;
  counter-increment: page;
  white-space: pre;
  color: grey;
  @top-right {
    font-size: 7pt;
    content: string(chapter); }
  @bottom-center {
    font-size: 8pt;
    content: "- " counter(page) "/" counter(pages) " -"; }
  @bottom-right {
    font-size: 7pt;
    content: string(copyright); } }
