@page {
  size: a4 portrait;
  margin: 25mm 25mm 25mm 25mm;
  counter-increment: page;
  white-space: pre;
  color: grey;
  @top-right {
    font-size: 7pt;
    content: string(chapter); }
  @bottom-center {
    font-size: 8pt;
    content: "- " counter(page) "/" counter(pages) " -"; }
  @bottom-right {
    font-size: 6pt;
    content: string(copyright); } }

@media print {
body {
    background: none;
    background-color: #fff; } }

article,
section + section {
  page-break-before: always;
  min-height: 100vh;
  /* Defining all page breaks */ }
  article,
  article h1 {
	  page-break-before: always; }
  article h2 {
	  page-break-before: auto;
	  page-break-inside: avoid; }
  article h3 {
	  page-break-before: auto;
	  page-break-inside: avoid; }
  article h4 {
	  page-break-before: auto;
	  page-break-inside: avoid; }
  article h5,
  article h6,
  article div.tabbed-content--wrap > .tabbed-content,
  section + section,
  section + section h1,
  section + section h2,
  section + section h3,
  section + section h4,
  section + section h5,
  section + section h6,
  section + section div.tabbed-content--wrap > .tabbed-content {
    clear: both; }
  article h1 {
	  page-break-before: always; }
  article h2 {
	  page-break-before: auto;
	  page-break-inside: avoid; }
  article h3 {
	  page-break-before: auto;
	  page-break-inside: avoid; }
  article h4,
  article h5,
  article h6,
  article img,
  section + section h1,
  section + section h2 {
	  page-break-before: auto;
	  page-break-inside: avoid; }
  section + section h3 {
	  page-break-before: auto;
	  page-break-inside: avoid; }
  section + section h4,
  section + section h5,
  section + section h6,
  section + section img {
    page-break-after: avoid;
    page-break-inside: avoid; }
  article a,
  article blockquote,
  article table,
  article ul,
  article ol,
  section + section a,
  section + section blockquote,
  section + section table,
  section + section ul,
  section + section ol {
    page-break-before: avoid;
    page-break-inside: avoid; }
  article pre,
  article dt + dd,
  section + section pre,
  section + section dt + dd {
    page-break-before: avoid; }
  article h1 + ul,
  article h2 + ul,
  article h3 + ul,
  article h4 + ul,
  article h5 + ul,
  article h6 + ul,
  article h1 + ol,
  article h2 + ol,
  article h3 + ol,
  article h4 + ol,
  article h5 + ol,
  article h6 + ol,
  section + section h1 + ul,
  section + section h2 + ul,
  section + section h3 + ul,
  section + section h4 + ul,
  section + section h5 + ul,
  section + section h6 + ul,
  section + section h1 + ol,
  section + section h2 + ol,
  section + section h3 + ol,
  section + section h4 + ol,
  section + section h5 + ol,
  section + section h6 + ol {
    page-break-inside: auto; }
  article div.admonition,
  section + section div.admonition {
    page-break-inside: avoid; }
  article div.tabbed-content--wrap,
  section + section div.tabbed-content--wrap {
    page-break-inside: avoid; }
  article * + div.highlight,
  article * + div.tabbed-set,
  section + section * + div.highlight,
  section + section * + div.tabbed-set {
    page-break-before: avoid; }

section.two-columns {
  columns: 2;
  column-gap: 1cm; }

article h1 {
  border-bottom: 2px solid grey; }

article h2 {
  border-bottom: none; }

article h3 {
  border-bottom: none; }

article h1 > .pdf-order,
article h2 > .pdf-order,
article h3 > .pdf-order {
  padding-left: 6px; }

article#doc-toc {
  margin: 0 .8rem 1.2rem;
  padding-top: .6rem;
  font-size: 12pt;
  line-height: 1.6; }
  article#doc-toc > h1 {
    margin: 0 0 2rem;
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: -.01em;
    page-break-after: auto;
    page-break-inside: auto;
    bookmark-level: none; }
    article#doc-toc > h1::before {
      display: block;
      margin-top: -9px;
      padding-top: 9px;
      content: ""; }
  article#doc-toc ul {
    list-style: none;
    padding-left: 0;
    margin-left: 1em;
    font-size: 8pt;
    page-break-inside: auto !important; }
  article#doc-toc li {
    list-style: none; }
    article#doc-toc li > a {
      color: inherit;
      text-decoration: none;
      padding-top: 0.4rem;
      border-bottom: 1px dotted #ddd;
      display: inline-block;
      width: 100%; }
      article#doc-toc li > a > .pdf-order {
        padding-right: 0.5em; }
      article#doc-toc li > a::after {
        float: right;
        content: target-counter(attr(href), page); }

@media print {
  html {
    font-size: 95%;
    font-family: 'Kelmscott Roman NF', 'Noto Serif JP', serif; }
  body {
    font-size: 10.5pt;
    font-family: 'Classico URW T OT', 'Noto Serif JP', serif; }
  article {
    font-size: 0.8rem;
    line-height: 1.6; }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label {
    font-family: 'Gentium Book Basic', 'Helvetica Neue', Helvetica, Arial, 'Noto Sans JP', 'Roboto', sans-serif; }
  pre,
  code,
  var,
  samp,
  kbd,
  tt {
    font-family: 'Noto Sans Mono CJK JP', 'Courier New', monospace, serif;
    font-size: 0.8em; }
  pre code,
  pre var,
  pre samp,
  pre kbd,
  pre tt {
    font-size: 100%; } }
@page :first {
  @top-right {
    content: normal; }
  @bottom-center {
    content: normal; }
  @bottom-right {
    content: normal; } }

article#doc-cover {
  display: flex;
  flex-direction: column;
  height: 100vh; }
  article#doc-cover > .wrapper {
    flex: 1 0 auto;
    text-align: center;
    padding: 0 3rem; }
    article#doc-cover > .wrapper.upper {
      flex: 1 1 auto;
      max-height: 30vh; }
      article#doc-cover > .wrapper.upper > .logo {
        width: 100%;
        height: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain; }
    article#doc-cover > .wrapper h1 {
      font-size: 36pt;
      line-height: 1.4; }
    article#doc-cover > .wrapper h2 {
      border: none;
      bookmark-level: none; }
  article#doc-cover > .properties {
    flex: 0 0 auto;
    text-align: right;
    padding: 0 2rem; }
    article#doc-cover > .properties p#copyright {
      font-size: 80%; }

article#doc-back_cover {
  page: back_cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center; }
  article#doc-back_cover .wrapper {
    flex: 1 0 auto;
    display: inline-block;
    background: #eee; }
  article#doc-back_cover .qrcode {
    display: inline-block;
    flex: 0 0 auto;
    background: #eee; }
    article#doc-back_cover .qrcode > a {
      display: inline-block;
      padding: 0.5em 2em;
      border-radius: 1em;
      background-color: #fff; }
      article#doc-back_cover .qrcode > a img {
        width: 100%;
        height: auto; }

@page back_cover {
  background-color: #eee;
  @top-right {
    content: normal; }
  @bottom-center {
    content: normal; }
  @bottom-left {
    font-size: 8pt;
    content: string(title); }
  @bottom-right {
    font-size: 8pt;
    content: string(copyright); } }

@media print {
  .md-typeset .tabbed-set {
    display: block; }
    .md-typeset .tabbed-set .tabbed-content--wrap {
      display: inline-block;
      width: 100%;
      margin-bottom: 0.25rem; }
      .md-typeset .tabbed-set .tabbed-content--wrap > input {
        display: none; }
      .md-typeset .tabbed-set .tabbed-content--wrap > label {
        background-color: rgba(170, 170, 170, 0.2);
        padding: 0.2rem 2rem;
        margin: 0;
        font-weight: 600;
        color: #666;
        border-radius: 3px 3px 0 0;
        border-bottom-color: transparent; }
      .md-typeset .tabbed-set .tabbed-content--wrap > .tabbed-content {
        display: block;
        box-shadow: none; }
  .md-typeset > details summary::after {
    display: none; }
  .md-typeset > div, .md-typeset > div.admonition, .md-typeset > details, .md-typeset > div.tabbed-set, .md-typeset > blockquote, .md-typeset > mark, .md-typeset > table, .md-typeset > p {
    margin-left: 0.7rem; }
  .md-typeset > table.highlighttable {
    margin: 0 0 0 0.7rem; }
  .md-typeset > ul {
    margin-left: 1.5rem; }
  .md-typeset h4,
  .md-typeset h5,
  .md-typeset h6 {
    margin-left: 0.25rem; }
  .md-typeset *:not(h3) + h4 {
    margin-top: 1.5rem; }
  .md-typeset hr {
    border-bottom: 1px dotted #999; }
  .md-typeset .footnote {
    line-height: 1.1; }
  .md-typeset table:not([class]) th, .md-typeset table:not([class]) td {
    padding: 0.5em 1.25rem 0.4em; }
  .md-typeset table:not([class]) td {
    border-bottom: 1px solid #eee; }
  .md-typeset span.twemoji {
    vertical-align: middle;
    height: 1.125rem; }
    .md-typeset span.twemoji > img {
      height: 1.125rem;
      vertical-align: middle; } }
.md-typeset kbd {
  vertical-align: middle;
  border-color: #b8b8b8;
  border-style: outset;
  border-width: .05rem .075rem .1rem .075rem;
  border-radius: .25rem;
  box-shadow: none; }

:root {
  --print-md-admonition-icon--note: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23448aff"><path d="M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83 3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75L3 17.25z"/></svg>');
  --print-md-admonition-icon--abstract: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2300b0ff"><path d="M4 5h16v2H4V5m0 4h16v2H4V9m0 4h16v2H4v-2m0 4h10v2H4v-2z"/></svg>');
  --print-md-admonition-icon--info: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2300b8d4"><path d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 002 12a10 10 0 0010 10 10 10 0 0010-10A10 10 0 0012 2z"/></svg>');
  --print-md-admonition-icon--tip: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2300bfa5"><path d="M17.66 11.2c-.23-.3-.51-.56-.77-.82-.67-.6-1.43-1.03-2.07-1.66C13.33 7.26 13 4.85 13.95 3c-.95.23-1.78.75-2.49 1.32-2.59 2.08-3.61 5.75-2.39 8.9.04.1.08.2.08.33 0 .22-.15.42-.35.5-.23.1-.47.04-.66-.12a.58.58 0 01-.14-.17c-1.13-1.43-1.31-3.48-.55-5.12C5.78 10 4.87 12.3 5 14.47c.06.5.12 1 .29 1.5.14.6.41 1.2.71 1.73 1.08 1.73 2.95 2.97 4.96 3.22 2.14.27 4.43-.12 6.07-1.6 1.83-1.66 2.47-4.32 1.53-6.6l-.13-.26c-.21-.46-.77-1.26-.77-1.26m-3.16 6.3c-.28.24-.74.5-1.1.6-1.12.4-2.24-.16-2.9-.82 1.19-.28 1.9-1.16 2.11-2.05.17-.8-.15-1.46-.28-2.23-.12-.74-.1-1.37.17-2.06.19.38.39.76.63 1.06.77 1 1.98 1.44 2.24 2.8.04.14.06.28.06.43.03.82-.33 1.72-.93 2.27z"/></svg>');
  --print-md-admonition-icon--success: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2300c853"><path d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2m-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>');
  --print-md-admonition-icon--question: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2364dd17"><path d="M15.07 11.25l-.9.92C13.45 12.89 13 13.5 13 15h-2v-.5c0-1.11.45-2.11 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41a2 2 0 00-2-2 2 2 0 00-2 2H8a4 4 0 014-4 4 4 0 014 4 3.2 3.2 0 01-.93 2.25M13 19h-2v-2h2M12 2A10 10 0 002 12a10 10 0 0010 10 10 10 0 0010-10c0-5.53-4.5-10-10-10z"/></svg>');
  --print-md-admonition-icon--warning: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ff9100"><path d="M13 14h-2V9h2m0 9h-2v-2h2M1 21h22L12 2 1 21z"/></svg>');
  --print-md-admonition-icon--failure: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ff5252"><path d="M12 2c5.53 0 10 4.47 10 10s-4.47 10-10 10S2 17.53 2 12 6.47 2 12 2m3.59 5L12 10.59 8.41 7 7 8.41 10.59 12 7 15.59 8.41 17 12 13.41 15.59 17 17 15.59 13.41 12 17 8.41 15.59 7z"/></svg>');
  --print-md-admonition-icon--danger: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ff1744"><path d="M11.5 20l4.86-9.73H13V4l-5 9.73h3.5V20M12 2c2.75 0 5.1 1 7.05 2.95C21 6.9 22 9.25 22 12s-1 5.1-2.95 7.05C17.1 21 14.75 22 12 22s-5.1-1-7.05-2.95C3 17.1 2 14.75 2 12s1-5.1 2.95-7.05C6.9 3 9.25 2 12 2z"/></svg>');
  --print-md-admonition-icon--bug: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23f50057"><path d="M14 12h-4v-2h4m0 6h-4v-2h4m6-6h-2.81a5.985 5.985 0 00-1.82-1.96L17 4.41 15.59 3l-2.17 2.17a6.002 6.002 0 00-2.83 0L8.41 3 7 4.41l1.62 1.63C7.88 6.55 7.26 7.22 6.81 8H4v2h2.09c-.05.33-.09.66-.09 1v1H4v2h2v1c0 .34.04.67.09 1H4v2h2.81c1.04 1.79 2.97 3 5.19 3s4.15-1.21 5.19-3H20v-2h-2.09c.05-.33.09-.66.09-1v-1h2v-2h-2v-1c0-.34-.04-.67-.09-1H20V8z"/></svg>');
  --print-md-admonition-icon--example: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23651fff"><path d="M7 13v-2h14v2H7m0 6v-2h14v2H7M7 7V5h14v2H7M3 8V5H2V4h2v4H3m-1 9v-1h3v4H2v-1h2v-.5H3v-1h1V17H2m2.25-7a.75.75 0 01.75.75c0 .2-.08.39-.21.52L3.12 13H5v1H2v-.92L4 11H2v-1h2.25z"/></svg>');
  --print-md-admonition-icon--quote: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%239e9e9e"><path d="M14 17h3l2-4V7h-6v6h3M6 17h3l2-4V7H5v6h3l-2 4z"/></svg>'); }

@media print {
  .md-typeset .admonition-title {
    padding: .6rem .6rem .4rem 2.2rem; }
  .md-typeset .admonition-title::before {
    margin-top: -0.15rem;
    background-color: transparent;
    background-image: var(--print-md-admonition-icon--note); }
  .md-typeset .note > .admonition-title, .md-typeset .note > summary {
    padding: .6rem .6rem .4rem 2.2rem; }
  .md-typeset .note > .admonition-title::before, .md-typeset .note > summary::before {
    margin-top: -0.15rem;
    background-color: transparent;
    background-image: var(--print-md-admonition-icon--note); }
  .md-typeset .abstract > .admonition-title, .md-typeset .tldr > .admonition-title, .md-typeset .summary > .admonition-title, .md-typeset .abstract > summary, .md-typeset .tldr > summary, .md-typeset .summary > summary {
    padding: .6rem .6rem .4rem 2.2rem; }
  .md-typeset .abstract > .admonition-title::before, .md-typeset .tldr > .admonition-title::before, .md-typeset .summary > .admonition-title::before, .md-typeset .abstract > summary::before, .md-typeset .tldr > summary::before, .md-typeset .summary > summary::before {
    margin-top: -0.15rem;
    background-color: transparent;
    background-image: var(--print-md-admonition-icon--abstract); }
  .md-typeset .info > .admonition-title, .md-typeset .todo > .admonition-title, .md-typeset .info > summary, .md-typeset .todo > summary {
    padding: .6rem .6rem .4rem 2.2rem; }
  .md-typeset .info > .admonition-title::before, .md-typeset .todo > .admonition-title::before, .md-typeset .info > summary::before, .md-typeset .todo > summary::before {
    margin-top: -0.15rem;
    background-color: transparent;
    background-image: var(--print-md-admonition-icon--info); }
  .md-typeset .tip > .admonition-title, .md-typeset .important > .admonition-title, .md-typeset .hint > .admonition-title, .md-typeset .tip > summary, .md-typeset .important > summary, .md-typeset .hint > summary {
    padding: .6rem .6rem .4rem 2.2rem; }
  .md-typeset .tip > .admonition-title::before, .md-typeset .important > .admonition-title::before, .md-typeset .hint > .admonition-title::before, .md-typeset .tip > summary::before, .md-typeset .important > summary::before, .md-typeset .hint > summary::before {
    margin-top: -0.15rem;
    background-color: transparent;
    background-image: var(--print-md-admonition-icon--tip); }
  .md-typeset .success > .admonition-title, .md-typeset .done > .admonition-title, .md-typeset .check > .admonition-title, .md-typeset .success > summary, .md-typeset .done > summary, .md-typeset .check > summary {
    padding: .6rem .6rem .4rem 2.2rem; }
  .md-typeset .success > .admonition-title::before, .md-typeset .done > .admonition-title::before, .md-typeset .check > .admonition-title::before, .md-typeset .success > summary::before, .md-typeset .done > summary::before, .md-typeset .check > summary::before {
    margin-top: -0.15rem;
    background-color: transparent;
    background-image: var(--print-md-admonition-icon--success); }
  .md-typeset .question > .admonition-title, .md-typeset .faq > .admonition-title, .md-typeset .help > .admonition-title, .md-typeset .question > summary, .md-typeset .faq > summary, .md-typeset .help > summary {
    padding: .6rem .6rem .4rem 2.2rem; }
  .md-typeset .question > .admonition-title::before, .md-typeset .faq > .admonition-title::before, .md-typeset .help > .admonition-title::before, .md-typeset .question > summary::before, .md-typeset .faq > summary::before, .md-typeset .help > summary::before {
    margin-top: -0.15rem;
    background-color: transparent;
    background-image: var(--print-md-admonition-icon--question); }
  .md-typeset .warning > .admonition-title, .md-typeset .attention > .admonition-title, .md-typeset .caution > .admonition-title, .md-typeset .warning > summary, .md-typeset .attention > summary, .md-typeset .caution > summary {
    padding: .6rem .6rem .4rem 2.2rem; }
  .md-typeset .warning > .admonition-title::before, .md-typeset .attention > .admonition-title::before, .md-typeset .caution > .admonition-title::before, .md-typeset .warning > summary::before, .md-typeset .attention > summary::before, .md-typeset .caution > summary::before {
    margin-top: -0.15rem;
    background-color: transparent;
    background-image: var(--print-md-admonition-icon--warning); }
  .md-typeset .failure > .admonition-title, .md-typeset .missing > .admonition-title, .md-typeset .fail > .admonition-title, .md-typeset .failure > summary, .md-typeset .missing > summary, .md-typeset .fail > summary {
    padding: .6rem .6rem .4rem 2.2rem; }
  .md-typeset .failure > .admonition-title::before, .md-typeset .missing > .admonition-title::before, .md-typeset .fail > .admonition-title::before, .md-typeset .failure > summary::before, .md-typeset .missing > summary::before, .md-typeset .fail > summary::before {
    margin-top: -0.15rem;
    background-color: transparent;
    background-image: var(--print-md-admonition-icon--failure); }
  .md-typeset .danger > .admonition-title, .md-typeset .error > .admonition-title, .md-typeset .danger > summary, .md-typeset .error > summary {
    padding: .6rem .6rem .4rem 2.2rem; }
  .md-typeset .danger > .admonition-title::before, .md-typeset .error > .admonition-title::before, .md-typeset .danger > summary::before, .md-typeset .error > summary::before {
    margin-top: -0.15rem;
    background-color: transparent;
    background-image: var(--print-md-admonition-icon--danger); }
  .md-typeset .bug > .admonition-title, .md-typeset .bug > summary {
    padding: .6rem .6rem .4rem 2.2rem; }
  .md-typeset .bug > .admonition-title::before, .md-typeset .bug > summary::before {
    margin-top: -0.15rem;
    background-color: transparent;
    background-image: var(--print-md-admonition-icon--bug); }
  .md-typeset .example > .admonition-title, .md-typeset .example > summary {
    padding: .6rem .6rem .4rem 2.2rem; }
  .md-typeset .example > .admonition-title::before, .md-typeset .example > summary::before {
    margin-top: -0.15rem;
    background-color: transparent;
    background-image: var(--print-md-admonition-icon--example); }
  .md-typeset .quote > .admonition-title, .md-typeset .cite > .admonition-title, .md-typeset .quote > summary, .md-typeset .cite > summary {
    padding: .6rem .6rem .4rem 2.2rem; }
  .md-typeset .quote > .admonition-title::before, .md-typeset .cite > .admonition-title::before, .md-typeset .quote > summary::before, .md-typeset .cite > summary::before {
    margin-top: -0.15rem;
    background-color: transparent;
    background-image: var(--print-md-admonition-icon--quote); } }

:root {
  --print-md-footnotes-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000000de"><path d="M19 7v4H5.83l3.58-3.59L8 6l-6 6 6 6 1.41-1.42L5.83 13H21V7h-2z"/></svg>'); }

@media print {
  .md-typeset .footnote-backref::before {
    background-color: transparent;
    background-image: var(--print-md-footnotes-icon); } }

:root {
  --print-md-details-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="hsla(0, 0%, 0%, 0.87)"><path d="M8.59 16.58L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.42z"/></svg>'); }

@media print {
  .md-typeset summary::after {
    background-color: transparent;
    background-image: var(--print-md-details-icon);
    -webkit-mask-image: none;
    mask-image: none; } }

:root {
  --print-md-tasklist-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ddd"><path d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2m-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>');
  --print-md-tasklist-icon--checked: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2300e676"><path d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2m-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>'); }

@media print {
  .md-typeset .task-list-control .task-list-indicator::before {
    background-color: transparent;
    background-image: var(--print-md-tasklist-icon); }
  .md-typeset .task-list-control [type=checkbox]:checked + .task-list-indicator::before {
    background-color: transparent;
    background-image: var(--print-md-tasklist-icon--checked); } }

/*# sourceMappingURL=material-polyfills.css.map*/
